
<%= link_to 'Back', teams_path %>

<h1> <%= @team.name %> </h1>
<h3> <%= @team.sport %> || <%= @team.season %> <%= @team.year %> </h3>
<h5> <%= @team.player1 %> </h5>
<h5> <%= @team.player2 %> </h5>
<h5> <%= @team.player3 %> </h5>
<h5> <%= @team.player4 %> </h5>
<h5> <%= @team.player5 %> </h5>
<h5> <%= @team.player6 %> </h5>
<h5> <%= @team.player7 %> </h5>
<h5> <%= @team.player8 %> </h5>
<h5> <%= @team.player9 %> </h5>
<h5> <%= @team.player10 %> </h5>
<h5> <%= @team.player11 %> </h5>
<h5> <%= @team.player12 %> </h5>
<h5> <%= @team.player13 %> </h5>
<h5> <%= @team.player14 %> </h5>
<h5> <%= @team.player15 %> </h5>

<%= link_to 'Back', teams_path %>
